.progress-bar {
  position: fixed;
  left: 0px;
  bottom: 30px;
  font-size: 24px;
  height: 300px;
}

.tab {
  border: 2px solid #67AAF9;
  border-left: none;
  padding: 10px 30px;
  margin: 30px 0;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  cursor: pointer;
  width: 180px;
}

.tab-portfolio, .tab-contact {
  display: none;
}

